@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Poppins:wght@300;400;500;600&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    .navbar-brand{
        img{
            height: 35px;
        }
    }
    .navbar-nav{
        a{
            border: 1px solid #E2DEDE;
            color: #3A454E;
            &:hover{
                border :1px solid #212C35;
                background-color: white;
                color: #212C35;
            }
        }
    }
}

.jumbotron{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: white;

    h1{
        text-transform: capitalize;
        font-weight: 600;
        color: #212C35;

        @media(max-width:768px){
            width: 100%;
            font-size: 28px;
        }
    }

    p{
        width: 30rem;
        font-size: 18px;
        font-weight: 300;
        color: #C0B9B9;

        span{
            font-weight: 600;
            color: #212C35;
        }

        @media(max-width:768px){
            width: 100%;
        }
    }

    .btn{
        margin-top: 20px;
        padding: 6px 1.4rem;
        background-color: #4E60C4;

        &:hover{
            background-color: #5964a1;
        }
    }
}