@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Poppins:wght@300;400;500;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container .navbar-brand img {
  height: 2.5rem;
}

.container .navbar-nav a {
  border: 1px solid #E2DEDE;
  color: #3A454E;
}

.container .navbar-nav a:hover {
  border: 1px solid #212C35;
  background-color: white;
  color: #212C35;
}

.jumbotron {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: white;
}

.jumbotron .btn {
  margin-top: 1rem;
  padding: .3rem 1.4rem;
  background-color: #4E60C4;
}

.jumbotron .btn:hover {
  background-color: #5964a1;
}

.jumbotron h1 {
  text-transform: capitalize;
  font-weight: 600;
  color: #212C35;
}

@media (max-width: 768px) {
  .jumbotron h1 {
    width: 100%;
    font-size: 22px;
  }
}

.jumbotron p {
  width: 30rem;
  font-size: 18px;
  font-weight: 300;
  color: #C0B9B9;
}

.jumbotron p span {
  font-weight: 600;
  color: #212C35;
}

@media (max-width: 768px) {
  .jumbotron p {
    width: 100%;
    font-size: 12px;
  }
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #FAFAFA;
  padding: 6px 14px;
  z-index: 99;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar.open {
  width: 260px;
}

.sidebar .logo-details {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #212C35;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  margin-left: 18px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.sidebar .logo-details .logo_name img {
  height: 2.5rem;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #212C35 !important;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar i {
  color: #DDDDDD;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar i .active {
  color: #212C35;
}

.sidebar .nav-list {
  height: 100%;
  margin-top: 10rem;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  -webkit-transition: 0s;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: #FAFAFA;
}

.sidebar li .active {
  background: #FFF;
}

.sidebar li a:hover {
  background: #FFF;
}

.sidebar li a .links_name {
  color: #DDDDDD;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.sidebar li a .links_name .active {
  color: #212C35;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #212C35;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li a .active {
  color: #212C35;
}

.home-section {
  position: relative;
  background: #fff;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 2;
}

.home-section .profile-pic {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: .4rem;
}

@media (max-width: 500px) {
  .home-section .profile-pic {
    display: none;
  }
}

.home-section .profile-name {
  font-size: 14px;
  color: #212C35;
  text-decoration: none;
}

.home-section .profile-name:hover {
  color: #3d576b;
}

@media (max-width: 500px) {
  .home-section .profile-name {
    display: none;
  }
}

.home-section .button-add-nota {
  margin-top: 2rem;
}

.home-section .table-responsive-sm tbody tr {
  border: .6rem solid white;
  background: #FFF8F8;
  border-radius: 12px;
  -webkit-transition: .5s background-color;
  transition: .5s background-color;
}

.home-section .table-responsive-sm tbody tr:hover {
  background: #eaebee;
}

.home-section .table-responsive-sm tbody td {
  cursor: pointer;
  white-space: nowrap;
}

.home-section .table-responsive-sm tbody td .title-name {
  font-size: 12px;
  font-weight: 300;
  color: #BAA7A7;
}

.home-section .table-responsive-sm tbody .header-name {
  font-size: 16px;
  font-weight: 500;
  color: #212C35;
}

.home-section .table-responsive-sm tbody a .bx {
  font-size: 20px;
  color: #E9D1D1;
  margin: 0 5px;
  text-decoration: none;
}

.home-section .table-responsive-sm tbody a .bx:hover {
  color: #928989;
}

.sidebar.open ~ .home-section {
  left: 280px;
  width: calc(100% - 280px);
}

.home-section .text {
  display: inline-block;
  color: #212C35;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */